RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $l !^(index\.php|assets|css|js|images|fonts)
RewriteRule ^(.*)$ index.php/$l [L]

#Open rewrite module